
h1, h2 {
    padding: 0px;
    margin: 0px;
}


pre {
    display: inline-block;
    background-color: lightgray;
    padding: 1rem;
    margin: none;
    border-radius: 10px;
}

code {
    background-color: lightgray;
}